{% extends 'base.html' %}

{% block content %}
<section class="sectionmain" id="main-section">
    <div class="container d-flex flex-column align-items-center justify-content-center fs-1 text-white">
        <h1>Nomad Nexus</h1>
        <h4>Plan. Book. Travel.</h4>
        <a class="explore-button" href="#sectionexplore">Explore Now</a>
    </div>
</section>

<section class="explore-section" id="sectionexplore">
    <div class="d-flex flex-column justify-content-center">
        <div class="contact-form d-flex flex-row justify-content-center">
            <form class="form-edit">
                <div>
                    <label for="destination">Destination</label>
                    <select id="destination">
                        <option value="to">Select your destination</option>
                        <option value="goa">Goa</option>
                        <option value="gujarat">Gujarat</option>
                        <option value="himachal">Himachal Pradesh</option>
                        <option value="jammu">Jammu and Kashmir</option>
                        <option value="kerala">Kerala</option>
                        <option value="maharashtra">Maharashtra</option>
                        <option value="punjab">Punjab</option>
                        <option value="rajasthan">Rajasthan</option>
                        <option value="uttar">Uttar Pradesh</option>
                    </select>
                </div>

                <div>
                    <label for="from">From</label>
                    <select id="from">
                        <option value="from">Start point</option>
                        <option value="goa">Goa</option>
                        <option value="gujarat">Gujarat</option>
                        <option value="himachal">Himachal Pradesh</option>
                        <option value="jammu">Jammu and Kashmir</option>
                        <option value="kerala">Kerala</option>
                        <option value="maharashtra">Maharashtra</option>
                        <option value="punjab">Punjab</option>
                        <option value="rajasthan">Rajasthan</option>
                        <option value="uttar">Uttar Pradesh</option>
                    </select>
                </div>

                <div>
                    <label for="date">Date</label>
                    <input type="date" id="date">
                </div>

                <div>
                    <button class="submit-button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
