{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'login_style.css' %}">
    <title>NomadNexus Login Page</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>

    <div class="container" id="container">
        <div class="form-container sign-up">
          <form method="POST" name="sign-up">
            {% csrf_token %}
                <h1>Create Account</h1>
                <span>Use Your Email for Registration</span>
                <input type="text" placeholder="Name" name="name" >
                <input type="email" placeholder="Email ID" name="email">
                <input type="password" placeholder="New Password" name="pass" id = "password" class="password-field">
                <input type="password" placeholder="Confirm Password" name="pass2">
                <button class="sign-button" name="sign-up">Sign Up</button>
                <label id="dynamicLabel" style="color: red; font-weight: bold;"></label>

            </form>
        </div>
        <div class="form-container sign-in">
          <form method="POST" name="login">
            {% csrf_token %}
                <h1>Sign In</h1>
                <span>Use Your Email and Password</span>
                <input type="email" placeholder="Email ID" name="email">
                <input type="password" placeholder="Password"  name="pass">
                <a href="#">Forget Password?</a>
                <button class="sign-button" name="login">Sign In</button>
            </form>
        </div>
        
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your details</p>
                    <button class="hidden" id="Login">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Welcome!</h1>
                    <p>Register with your details</p>
                    <button class="hidden" id="Register">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('#password').on('input', function() {
                const inputText = $(this).val();

                $.ajax({
                    url: '{% url "update_label" %}',
                    data: {
                        'input_text': inputText
                    },
                    success: function(data) {
                        if (data.label_text == "Password is valid.") {
                            $('#dynamicLabel').text(data.label_text).css('color', 'green').show(); // Change color here
                        } else {
                            $('#dynamicLabel').text(data.label_text).css('color', 'red').show();  // Hide if there is no message
                        }
                    }
                });
            });
        });
    </script>
    
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
